:root {
  --accent: #ffffdd;
  --border-color: #e0e0e0;
}

body {
  margin: 0px;
}

.grid {
  display: grid;
}

app-title {
  grid-area: app-title;
  height: 15vh;
}

app-menu {
  background-color: var(--accent);
  grid-area: app-menu;
  height: 10vh;
}

app-content {
  grid-area: app-content;
  max-height: 85vh;
}

app-footer {
  grid-area: app-footer;
  height: 5vh;
  background-color: var(--accent);
}

app-root {
  display: grid;
  grid-template-areas: 
    "app-title"
    "app-menu"
    "app-content"
    "app-footer"
}

@media (min-width: 640px) {
  app-root {
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
      "app-title app-title"
      "app-menu app-content"
      "app-footer app-content"
  }

  app-menu {
    height: 80vh;
  }
}